{% extends 'base.html.twig' %}

{% block title %}Edit Energie{% endblock %}

{% block body %}
    <h1>Edit Energie</h1>

    {{ include('energie/_form.html.twig', {'button_label': 'Update'}) }}

 

   
{% endblock %}
