{% extends 'base.html.twig' %}

{% block title %}New GammeUsinage{% endblock %}

{% block body %}
<h4 style ="color:black;">Add new new Operation</h4>

    {{ include('gamme_usinage/_form.html.twig') }}

  
{% endblock %}
