{% extends 'base.html.twig' %}

{% block title %}Edit Modele{% endblock %}

{% block body %}
    <h1>Edit Modele</h1>

    {{ include('modele/_form.html.twig', {'button_label': 'Update'}) }}

   
{% endblock %}
