{% extends 'base.html.twig' %}

{% block title %}Edit Matiere{% endblock %}

{% block body %}
    <h1>Edit Material</h1>

    {{ include('matiere/_form.html.twig', {'button_label': 'Update'}) }}

   
{% endblock %}
