{% extends 'base.html.twig' %}

{% block title %}Edit DemandeO{% endblock %}

{% block body %}
    <h1>Edit DemandeO</h1>

    {{ include('demande_o/_form.html.twig', {'button_label': 'Update'}) }}

  
{% endblock %}
