{% extends 'base.html.twig' %}

{% block title %}Edit Accessoire{% endblock %}

{% block body %}
    <h1>Edit </h1>

    {{ include('accessoire/_form.html.twig', {'button_label': 'Update'}) }}

   

    
{% endblock %}
