{% extends 'base.html.twig' %}

{% block title %}Edit Outils{% endblock %}

{% block body %}
    <h1>Edit Outil</h1>

    {{ include('outils/_form.html.twig', {'button_label': 'Update'}) }}

   
{% endblock %}
