{% extends 'base.html.twig' %}

{% block title %}New Outils{% endblock %}

{% block body %}
<h4 style ="color:black;">Add new tool</h4>

    {{ include('outils/_form.html.twig') }}

    
{% endblock %}
