<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<Link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
            
                    {# hedhi zeda hezha #}
                    {# hedhi zeda hezha #}
                    {# hedhi zeda hezha #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" integrity="sha512-8D+M+7Y6jVsEa7RD6Kv/Z7EImSpNpQllgaEIQAtqHcI0H6F4iZknRj0Nx1DCdB+TwBaS+702BGWYC0Ze2hpExQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                    {# hedhi zeda hezha #}
                    {# hedhi zeda hezha #}
                    {# hedhi zeda hezha #}
		{% endblock %}
	</head>
	<body>

		<div class="container"> {% block body %}{% endblock %}

			</div>
			{% block javascripts %}{% endblock %}






        {# code yabda mena #}
        {# code yabda mena #}
        {# code yabda mena #}
        {# code yabda mena #}
        {# code yabda mena #}
        {# code yabda mena #}

        <audio id="mySound" src="{{asset('sound/error.mp3')}}"></audio>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js" integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                fetch('/discover').then(result=>{
                    const hubUrl = result.headers.get('Link').match(/<([^>]+)>;\s+rel=(?:mercure|"[^"]*mercure[^"]*")/)[1];

                    let url = new URL(hubUrl);
                    url.searchParams.append('topic','notif');

                    const eventSource= new EventSource(url);
                    
                    eventSource.onmessage= (event) => {
                        var message =JSON.parse(event.data).message;
                        
						var myAudio = document.getElementById("mySound");
						myAudio.play();

                        $.toast({ 
                            text : message, 
                            showHideTransition : 'fade', 
                            allowToastClose : true,      
                            hideAfter : 8000,            
                            stack : 5,                    
                            textAlign : 'left',            
                            position : 'bottom-left',    
                            icon: 'info',
                            loader: true,      
                            loaderBg: '#A4DCF1'  
                        });
                    
                    }
                })
            });
        </script>


        {# code youfa lena #}
        {# code youfa lena #}
        {# code youfa lena #}
        {# code youfa lena #}
        {# code youfa lena #}
        {# code youfa lena #}







    </body>
	</html>
